*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/vcs.xml
/.idea/modules.xml
/.idea/libraries
/.idea/caches
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
keystore.properties
